@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

:root {
  --background: #000000;
  --foreground: #E9E9E9;
  --yellow: #AFAFAF;
  --green: #A3A3A3;
  --gray: #868686;
  --blue: #4E4E4E;
  --red: #606060;
}

/* Rainbow Text - use with <span class="rainbow rainbow_text_animated">TEXT_GOES_HERE</span> */
.rainbow { display: inline; text-decoration: none; }

.rainbow_text_animated { background: linear-gradient(to left, #FF0000, #FF4000, #FF8000, #FFBF00, #FFFF00, #BFFF00, #80FF00, #40FF00, #00FF00, #00FF40, #00FF80, #00FFBF, #00FFFF, #00BFFF, #0080FF, #0040FF, #4000FF, #8000FF, #BF00FF, #FF00FF, #FF00BF, #FF0080, #FF0040, #FF0000 ); -webkit-background-clip: text; background-clip: text; color: transparent; animation: rainbow_animation 2s linear infinite; background-size: 200% 100%; }

@keyframes rainbow_animation { 0% { background-position: 200% 0; } 100% { background-position: 0 0; } }


/* Default Global CSS */

.bg-grayscale-background {
  background-color: #222222; /* Set default background for grayscale */
}

.text-grayscale-text {
  color: #ffffff; /* Set default text for grayscale */
}

* {
  font-family: 'Hack', monospace;
}

html, body, body > div:first-child, div#__next, div#__next > div {
  height: 100%;
  overflow: auto;
  background-color: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  min-width: 3px;
  min-height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--blue);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

@media (max-width: 550px) {
  * {
    font-size: 0.945em;
  }
}

@media (max-width: 450px) {
  html, body, body > div:first-child, div#__next, div#__next > div {
    min-width: 425px;
  }
}
